body,html{
	padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: #20243E;
    background-size: 150px;
    display: grid;
    place-content: center;
}

#loader .logo img{
    max-height: 150px;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #20243E;
    color: #fff;
}

ul,ol{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* Navbar */

header{
    width: 100%;
    padding: 5px 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

nav{
    display: flex;
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
    position: relative;
}

.logo::after{
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(32 36 62 / 80%);
    z-index: -1;
    backdrop-filter: blur(10px);
}

.logo img{
    max-height: 90px;
}

/* .logo .icon{
    position: absolute;
    left: 0px;
    top: 0px;
} */

.logo .ring{
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all ease-in-out .4s;
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.nav{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 8px 25px;
    gap: 30px;
    border-radius: 50px;
    background-color: rgb(32 36 62 / 60%);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(211 220 255 / 10%);
}

.nav a{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    display: block;
    position: relative;
    letter-spacing: .6px;
    transition: auto;
}

.nav a::after,
footer p a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    height: 12px;
    background-color: #d53838b3;
    transform: skewX(-9deg) translateX(-50%);
    z-index: -1;
    transition: all ease-in-out .4s;
}

.nav a:hover::after,
footer p a:hover::after{
    width: 110%;
}

#welcome-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-section > *{
    width: 50%;
    padding: 0 30px;
}

.hero-img {
    position: relative;
    padding: 0;
}

.hero-img img{
    max-height: 75vh;
}

.hero-img::after{
    content: "";
    position: absolute;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    z-index: -1;
    top: -4%;
    left: 0px;
    background: linear-gradient(318deg,#89fff9,#9e41ff);
    opacity: .7;
    box-shadow:25px 25px 50px #6088ff;
}

#welcome-section .top{
    margin-bottom: 50px;
}

#welcome-section h1{
    font-size: 2.4rem;
    font-weight: 400;
}

/* #welcome-section h1 span{
    font-family: 'Allura', cursive;
    background: linear-gradient(318deg,#89fff9,#ba78ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 4px 6px #000);
    font-size: 2.8rem;
} */

#welcome-section p{
    font-size: 1.2rem;
}

.btns{
    display: flex;
    list-style: none;
    padding: 0;
}

.btns a{
    margin-left: 0 !important;
    margin-right: 20px !important;
}

.btns a i{
    margin-right: 5px;
}

.btns a:hover,
.links a:hover{
    color: #fff;
    background: linear-gradient(180deg, #d53738, hsl(360 65% 40% / 1));
    transform: translateY(-2px);
    box-shadow: 0 10px 30px #d5373880;
}


.container{
    width: 90%;
}

:focus{
	outline: none !important;
}

.title{
    font-size: 30px;
    text-align: left;
    margin-bottom: 40px;
    color: #d6d6d6;
    font-weight: 100;
    letter-spacing: .4px;
}

#projects h2{
    position: relative;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 2rem;
    margin-bottom: 50px;
}

#projects h2::after{
    content: " ";
    position: absolute;
    right: -100px;
    top: 50%;
    width: 70px;
    height: 4px;
    background-color: #d53738;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 5px;
}

.projects-list{
    padding: 0;
    display: grid;
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
}

.projects-list:has(.project-item:hover) .project-item:not(:hover){
    scale: 0.92;
    filter: grayscale(1);
    opacity: 0.8;
}

.projects-list .project-tile .content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    transition: all ease-in-out .3s;
}

.projects-list .project-item .content .title{
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: larger;
    transition: all ease-in-out .3s;
}

.projects-list .project-item .content .tags{
    display: flex;
    gap: 15px;
    justify-content: end;
    transition: all ease-in-out .3s;
}

.projects-list .project-item .content .tags .tag{
    display: inline-block;
    padding: 3px 10px;
    background-color: rgb(255 255 255 / 70%);
    border-radius: 5px;
    color: #20243E;
    font-size: 14px;
    font-weight: 600;
}

.projects-list .project-item{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #363950;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(31, 26, 33, 0.4);
    transition: all ease-in-out .4s;
}

.projects-list .project-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(31, 26, 33, 0.3);
}

.projects-list .project-item .img-wrap{
    overflow: hidden;
    /* max-height: 320px; */
    aspect-ratio: 1.8;
}

.projects-list .project-item .img-wrap img{
    max-width: 100%;
    transition: none;
}

.projects-list .project-item:hover .img-wrap img{
    transform: translateY(calc(-100% + 320px));
    transition: all ease 10s;
}

footer{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

footer .links{
    display: flex;
    padding: 10px 0;
    list-style: none;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.links a,
.btns a{
    display: block;
    padding: 10px 18px;
    margin: 0 10px;
    text-decoration: none;
    color: #20243e;
    background: linear-gradient(180deg, #d3dcff, hsl(228deg 100% 84.09%));
    box-shadow: 0 10px 10px rgb(28 32 58 / 50%);
    border-radius: 8px;
    transition: all ease .3s;
}

.links a.insta:hover{
    color: #fff;
    background: linear-gradient(180deg, #d6249f, hsl(319 71% 39% / 1));
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgb(214 36 159 / 50%);
}

.links a.be:hover{
    color: #fff;
    background: linear-gradient(180deg, #0057ff, hsl(220 100% 40% / 1));
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(0, 87, 255, .5);
}

.links a.skype:hover{
    color: #fff;
    background: #00aff0;
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(0, 175, 240, .5);
}

footer p{
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

footer a{
    color: #f8dba2;
    display:inline-block;
    position:relative;
    text-decoration: none;
    margin-left: 5px;
}

footer a:hover{
  color:#fff;
  text-decoration:none;
}
/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #20243e;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d3dcff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d53738;
  }

  /* Responsive */

@media (min-width: 468px) and (max-width: 1010px){

    body{
        padding-top: 50px;
    }

    #welcome-section h1{
        font-size: 1.8rem;
    }

    .nav a{
        font-size: 1rem;
    }
    #welcome-section > *{
        width: 100%;
        padding: 0 10px;
    }

    #welcome-section .content{
        width: 80%;
    }
    .hero-img{
        margin-top: 15px;
        z-index: -1;
    }
    .hero-img img{
        max-width: 100%;
        height: auto;
    }
    .hero-img::after{        
        width: 45vw;
        height: 45vw;
    }
    #welcome-section{
        flex-direction: column;
        gap: 60px;    
    }

    footer .links{
        gap: 20px 10px;
    }

  }

  @media all and (max-width: 480px){
    header{
        position: relative;
        height: 150px;
    }
    nav{
        justify-content: center;
    }
    .nav{
        display: none;
    }

    #welcome-section{
        height: unset;
        flex-direction: column-reverse;
    }
    #welcome-section h1{
        font-size: 2rem;
    }
    #welcome-section > *{
        width: 100%;
        padding: 0 10px;
    }

    .hero-img{
        margin-top: 0;
    }
    .hero-img::after{
        width: 50vw;
        height: 50vw;
        top: -16%;
        left: 0;
        box-shadow: 0px 10px 50px #765e8e;
    }

    #welcome-section .content{
        width: 100%;
    }
    #welcome-section .content .btns,
    footer .links{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .hero-img{
        margin-top: 15px;
        z-index: -1;
    }
    .hero-img img{
        max-width: 100%;
        height: auto;
    }

    .projects-list {
        grid-template-columns: 1fr;
    }
  }